* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-questionaries {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
#main-questionaries button {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 5px;
    cursor: pointer;
    color: #111;
    margin: 5px;
    text-transform: uppercase;
}
#main-questionaries a {
    text-align: center;
    padding: 5px 5px;
    margin: 10px;
}
#main-questionaries .isDisabled {
    color: currentColor;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
} 


/* Go back to route section */
.go-back-route {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.go-back-route a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
}
.go-back-route .link-style {
    color: #111;
}
.go-back-route .provious {
    color: #111;
}
.go-back-route .next {
    color: #111;
}










/* .go-back-route .previous-page {
    margin-top: 1rem;
    padding: 5px;
}
.go-back-route .next-page {
    margin-top: 1rem;
    padding: 5px;
}
.go-back-route a {
    font-size: 1.2rem;
    text-decoration: none;
}
.go-back-route a:hover {
    text-decoration: underline;
    padding: 4px;
}  */
